include /core/lib/layout/index.pug

mixin input(props = { class: [], attrs: {}})
    -
        const name = props.name ? props.name : 'input';
        const value = props.value ? props.value : '';
        const type = props.type ? props.type : 'text';
        const disabled = props.disabled ? props.disabled : false;
        const placeholder = props.placeholder ? props.placeholder : 'placeholder';
        const status = props.status ? props.status : 'Обязательно для заполнения';
        const mask = props.mask ? props.mask : false;
        const required = props.required === true ? 'true' : false;
        
        let classes = ['input'];
        let attrs = props.attrs ? props.attrs : {};
        let inputDataset = props.inputDataset ? props.inputDataset : {};
        
        if (Array.isArray(props.class)) {
            props.class.forEach((key) => {
                classes.push(key);
            })
        }

    div(class= classes, disabled=disabled, data-component="input")&attributes(attrs)
        label.input__wrapper 
            input.input__native(type="text", data-input="native", value=value, placeholder=placeholder, data-mask=mask, data-required=required)&attributes(inputDataset)
            block 

        span.input__status!= status


mixin textarea(props = { class: [], attrs: {}})
    -
        const name = props.name ? props.name : 'textarea';
        const value = props.value ? props.value : '';
        const disabled = props.disabled ? props.disabled : false;
        const placeholder = props.placeholder ? props.placeholder : 'placeholder';
        const status = props.status ? props.status : 'Обязательно для заполнения';
        const mask = props.mask ? props.mask : false;
        const required = props.required === true ? 'true' : false;
        
        let classes = ['input', 'input--textarea'];
        let attrs = props.attrs ? props.attrs : {};
        let inputDataset = props.inputDataset ? props.inputDataset : {};
        

        if (Array.isArray(props.class)) {
            props.class.forEach((key) => {
                classes.push(key);
            })
        }

    div(class= classes, disabled=disabled, data-component="input")&attributes(attrs)
        label.input__wrapper 
            textarea.input__native(data-input="native", placeholder=placeholder, data-mask=mask, data-required=required)&attributes(inputDataset)!= value
            block 

        span.input__status!= status


//- +input({
//-     class: [''],
//-     attrs: {},
//-     type: 'text',
//-     name: 'input',
//-     value: '',
//-     disabled: false,
//-     inputDataset: {},
//-     status: '',
//- })